* {
    box-sizing: border-box;
    background-color: rgb(246, 246, 236);
}

.wraper {
    width: 60%;
    margin: 5% auto 0;
    transition: 0.5s;
    color: blue;
}
@media (min-width: 821px) {
.wraper:hover{
    cursor: pointer;
    transition: 0.5s;
    color: black;
}}

@media (min-width: 821px) {
.wraper:hover .image{
    display: block;
    opacity: 1;
    transition: 0.5s;
}}

h1 {
    font-weight: bold;
    margin: 0 auto;
    font-size: 6em;
    color: black;
}

.image{
    width: 3%;
    transition: 0.5s;
    opacity: 0;
}

a{
    text-decoration: none;
    color: blue;
    transition: 1s;
}

.mem{
    transition: 1s;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.mem1 .pic1 {
    background-image: url(https://i.pinimg.com/originals/d5/5e/7e/d55e7ed018c995a4f50620aa029247b7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition: 1s;
}

@media (min-width: 821px) {
.mem1:hover .pic1{
    background-image: url(https://i.pinimg.com/originals/d5/5e/7e/d55e7ed018c995a4f50620aa029247b7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 45%;
    margin: 0 auto;
    transition: 2s;
}}

#mem1{
    display: none;
}

input[type="radio"]#mem1:checked + label > .pic1{
    height: 70%;
    width: 45%;
}

.x1{
    width: 3%;
    opacity: 0;
    transition: 1s;
    display: none;
    
}

@media (min-width: 821px) {
.wraper:hover #mem1:checked ~ label .x1 {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
}}

@media (min-width: 821px) {
.wraper:hover #mem1:checked ~ label .x1 {
    visibility: visible;
    opacity: 1;
}}

#mem1:checked + label h4 {
    color: black;
}
#mem1:checked + label .image{
    display: none;
}

@media (min-width: 821px) {
.wraper:hover #mem2:checked ~ label .x2 {
    opacity: 1;
    transition: 1s;
    display: block;
}}

#mem2:checked + label h4 {
    color: black;
}

#mem2:checked + label .image{
    display: none;
}

#mem2{
    display: none;
}

input[type="radio"]#mem2:checked + label > .pic2{
    height: 70%;
    width: 45%;
}

#mem3{
    display: none;
}

@media (min-width: 821px) {
.wraper:hover #mem3:checked ~ label .x3 {
    display: block;
    opacity: 1;
    transition: 1s;
}}

#mem3:checked + label h4 {
    color: black;
}

#mem3:checked + label .image{
    display: none;
}

input[type="radio"]#mem3:checked + label > .pic3{
    height: 70%;
    width: 45%;
}

#mem4{
    display: none;
}


@media (min-width: 821px) {
.wraper:hover #mem4:checked ~ label .x4 {
    display: block;
    opacity: 1;
    transition: 1s;
}}

#mem4:checked + label h4 {
    color: black;
}

#mem4:checked + label .image{
    display: none;
}

input[type="radio"]#mem4:checked + label > .pic4{
    height: 70%;
    width: 45%;
}

.mem1:active .h-sec{
    color: blue;
}
@media (min-width: 821px) {
    .mem1:hover .x1{
        display: block;
        opacity: 1;
        transition: 1s;
    }}

@media (min-width: 821px) {
.mem1:hover .plus{
    display: none;
    
}}

.mem2 .pic2{
    background-image: url(https://www.meme-arsenal.com/memes/dba8a7a74cf93471ceac3a8764c66da8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition: 1s;
}

.passive{
    height: 0%;
    width: 0%;
}

@media (min-width: 821px) {
.mem2:hover .pic2{
    background-image: url(https://www.meme-arsenal.com/memes/dba8a7a74cf93471ceac3a8764c66da8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 45%;
    margin: 0 auto;
    transition: 2s;
}}

@media (min-width: 821px) {
    .mem2:hover .x2{
        display: block;
        opacity: 1;
        transition: 1s;
    }}

@media (min-width: 821px) {
.mem2:hover .plus{
    display: none;
}}

.x2{
    opacity: 0;
    transition: 1s;
    display: none;
    width: 3%;
}

.mem2:active .h-sec{
    color: blue;
}

.mem3 .pic3{
    background-image: url(https://cs10.pikabu.ru/post_img/big/2018/11/12/9/1542035135118725900.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition: 1s;
}

@media (min-width: 821px) {
.mem3:hover .pic3{
    background-image: url(https://cs10.pikabu.ru/post_img/big/2018/11/12/9/1542035135118725900.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 45%;
    margin: 0 auto;
    transition: 2s;
}}

@media (min-width: 821px) {
    .mem3:hover .x3{
        display: block;
        opacity: 1;
        transition: 1s;
    }}

@media (min-width: 821px) {
.mem3:hover .plus{
    display: none;
}}

.x3{
    display: none;
    width: 3%;
    transition: 1s;
}

.mem3:active .h-sec{
    color: blue;
}

.mem4 .pic4{
    background-image: url(https://pbs.twimg.com/media/EIsGlhMWwAIQUFk.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition: 1s;
}

@media (min-width: 821px) {
.mem4:hover .pic4{
    background-image: url(https://pbs.twimg.com/media/EIsGlhMWwAIQUFk.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 45%;
    margin: 0 auto;
    transition: 2s;
}}

@media (min-width: 821px) {
    .mem4:hover .x4{
        display: block;
        opacity: 1;
        transition: 1s;
    }}

@media (min-width: 821px) {
.mem4:hover .plus{
    display: none;
}}

.x4{
    display: none;
    width: 3%;
    transition: 1s;
}

.mem4:active .h-sec{
    color: blue;
}
h4 {
    font-size: 3em;
}
@media(max-width: 820px) {
.wraper {
    width: 90%
}

input[type="radio"]#mem1:checked + label > .pic1 {
    height: 58%;
    width: 70%;
}

input[type="radio"]#mem2:checked + label > .pic2 {
    height: 58%;
    width: 70%;
}

input[type="radio"]#mem3:checked + label > .pic3 {
    height: 58%;
    width: 70%;
}

input[type="radio"]#mem4:checked + label > .pic4 {
    height: 58%;
    width: 70%;
}

h1 {
    font-size: 4em;
}
h4 {
    font-size: 2em;
}
}


@media(max-width: 320px) {
.wraper {
    width: 90%
}

input[type="radio"]#mem1:checked + label > .pic1 {
    height: 28%;
    width: 83%;
}

input[type="radio"]#mem2:checked + label > .pic2 {
    height: 28%;
    width: 83%;
}

input[type="radio"]#mem3:checked + label > .pic3 {
    height: 28%;
    width: 83%;
}

input[type="radio"]#mem4:checked + label > .pic4 {
    height: 28%;
    width: 83%;
}

h1 {
    font-size: 3em;
}
h4 {
    font-size: 1.5em;
}
}
